html,
* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  
}


header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    color: wheat;
    background-color: blueviolet;
}

.stats-menu {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  color: aqua;
  background-color: black;
  text-align: center;
}

#high-result,
#current-result,
#player-name {
  width: 100%;
  color: chartreuse;
  font-size: 30px;
}

main {
  text-align: center;
  background-color: rgb(21, 26, 91);
  padding: 50px 0 50px 0;
}

.circle {
  padding-top: 50px;
}
.quarter-panel {
  display: inline-block;
  width: 250px;
  height: 250px;
}

.green-button {
    border-top-left-radius: 100%;
    background-color: green;
}
.yellow-button {
  border-top-right-radius: 100%;
  background-color: yellow;
}
.red-button {
  border-bottom-left-radius: 100%;
  background-color: red;
}
.blue-button {
  border-bottom-right-radius: 100%;
  background-color: rgb(82, 82, 242);
}

